<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Main</title>
</head>
<body>
    <header  class="modal-header align-items-center">
        <img id="logo_img" src="{% static 'img\logo_transparent_white_background.png' %}" alt="logo_transparent_white_background">

        <div>
            <ul class="d-flex header_nav mt-3">
                <li><a class="btn header_nav_btn border-dark ml-1" href="/">Home</a></li>
                <li><a class="btn header_nav_btn border-dark ml-1" href="/products">Products</a></li>
                <li><a class="btn header_nav_btn border-dark ml-1" href="/aboutus">About Us</a></li>
                <li><a class="btn header_nav_btn border-dark ml-1" href="/contactus">Contact Us</a></li>
            </ul>
        </div>

        <div class="search-container">
            <form class="form-inline" action="" method="post">
                {% csrf_token %}
                <div class="">
                    <input class="form-control" type="text" placeholder="Search.." name="search">
                    <button class="btn" type="submit"><img class="icon_image" src="{% static 'img\search-icon.png' %}" alt="search_icon"></button>
                </div>
            </form>
        </div>

        <div>
            {% if not 'id' in request.session %}
            <a class="btn header_nav_btn border" href="/login"><img class="icon_image" src="{% static 'img\login_person.png' %}" alt="persion_icon">Login</a>
            {% else %}
            <a class="btn header_nav_btn border" href="/logout"><img class="icon_image" src="{% static 'img\login_person.png' %}" alt="persion_icon">Logout</a>
            {% endif %}
            <a class="ml-3" data-toggle="modal" data-target="#lab-slide-bottom-popup" href="#"><img src="{% static 'img\cart_icon.png' %}" alt="cart_icon"></a>
            
        </div>


<!-- cart Body -->
<div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
    <div class="lab-modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1>Your Cart</h1>

        <ol>
            {% for order in all_user_orders %}
                {% for product in order.product.all %}
                    <li>{{ product.name }}</li>
                {%  endfor %}
            {%  endfor %}
        </ol>


        <div class="text-center">
            <a href="/checkout" class="btn-primary btn-plain btn btn-lg popup-button">Checkout!</a>
        </div>
    </div>
    <!-- /.modal-body -->
</div>
<!-- cart Body -->

        <div>
            {% if current_user %}
            <h4>Wellcome</h4>
            <h5>{{current_user.first_name}} {{current_user.last_name}}</h5>
            {% endif %}
        </div>

        <div>
            <ul class="menu">
                <li><a class="menuItem" href="#">My Cart</a></li>
                <li><a class="menuItem" href="/">Home</a></li>
                <li><a class="menuItem" href="/products">Products</a></li>
                <li><a class="menuItem" href="/aboutus">About us</a></li>
                <li><a class="menuItem" href="/contactus">Contact Us</a></li>
            </ul>
            <button class="hamburger header_nav_btn">
                <img class="icon_image" src="{% static 'img\menu_black.png' %}" alt="menu_icon">
                <!-- <i class="menuIcon material-icons">menu</i>
                <i class="closeIcon material-icons">close</i> -->
            </button>
        </div>
    </header>


    <main>
        <div class="container w-50">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
          
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{% static 'img\slider_2.jpg' %}" alt="Los Angeles" style="width:100%; height: 500px ;">
                </div>
          
                <div class="item">
                  <img src="{% static 'img\slider_1.jpg' %}" alt="Chicago" style="width:100%; height: 500px;">
                </div>
              
                <div class="item">
                  <img src="{% static 'img\slider_3.jpg' %}" alt="New york" style="width:100%; height: 500px;">
                </div>
              </div>
          
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>


          <section class="container border-top mt-4">
            <h2>Services</h2>
            <div class="row">
                {% for serv in all_services %}
                <div class="col text-center">
                    <div>
                        <img src="{{serv.image}}" alt="product_1" style="width: 400px;">
                    </div>
                    <span>{{ serv.name }}</span>
                </div>
                {% endfor %}
            </div>
            {% if current_user.email == 'admin@admin.admin' %}
            <a class="btn btn-secondary" href="/admin">Edit Services</a>
            {% endif %}
        </section>



        <section class="container border-top mt-4">
            <h2>Partners</h2>
            <div class="row">
                <div class="col text-center">
                    <div>
                        <img src="https://blog.twoosk.com/wp-content/uploads/2021/03/Canovate-Electronics-Logo-2.png" alt="product_1" style="width: 400px;">
                    </div>
                    <span>Canovate</span>
                </div>
                <div class="col text-center">
                    <div>
                        <img src="https://sensorpartners.com/wp-content/uploads/2022/06/hikvision-logo.jpg" alt="product_1" style="width: 400px;">
                    </div>
                    <span>hikvision</span>
                </div>
                <div class="col text-center">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNRmz5KM6FcSUElrq91R3WkTKgNSm0-pIMaA&usqp=CAU" alt="product_1" style="width: 400px;">
                    </div>
                    <span>BCI</span>
                </div>
                <div class="col text-center">
                    <div>
                        <img src="https://cdnjobs.net/cached_uploads/fit/650/315/2019/08/21/cmc-logo-1566410675.png" alt="product_1" style="width: 400px;">
                    </div>
                    <span>CMC</span>
                </div>
            </div>
        </section>





    </main>



    <footer class="d-flex justify-content-around">
        <div class="w-25">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut odio, ducimus iure non sapiente at reiciendis fugit quisquam exercitationem, fuga beatae autem nihil quidem corporis labore. Distinctio velit maiores voluptatum.</p>
        </div>

        <div class="w-25">
            <h3>Site Map</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="w-25">
            <h3>Contact Us</h3>
            <h6>info@progress.ps</h6>
            <h6>+972 59-786-9686</h6>
            <h6>FB.com/progresspalestine</h6>
            <h6>Ramallah / Palestine</h6>
        </div>
            
        <div class="w-25">
            <img id="logo_img_footer" src="{% static 'img\logo_transparent_black_background.png' %}" alt="logo_transparent_dark_background">
        </div>
        
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</html>
</body>
</html>