<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>View</title>
</head>
<body>
    <header  class="modal-header align-items-center">
        <img id="logo_img" src="{% static 'img\logo_transparent_white_background.png' %}" alt="logo_transparent_white_background">

        <div>
            <ul class="d-flex header_nav mt-3">
                <li><a class="btn header_nav_btn border-dark ml-1" href="/">Home</a></li>
                <li><a class="btn header_nav_btn border-dark ml-1" href="/products">Products</a></li>
                <li><a class="btn header_nav_btn border-dark ml-1" href="/aboutus">About Us</a></li>
                <li><a class="btn header_nav_btn border-dark ml-1" href="/contactus">Contact Us</a></li>
            </ul>
        </div>

        <div class="search-container">
            <form class="form-inline" action="" method="post">
                {% csrf_token %}
                <div class="">
                    <input class="form-control" type="text" placeholder="Search.." name="search">
                    <button class="btn" type="submit"><img class="icon_image" src="{% static 'img\search-icon.png' %}" alt="search_icon"></button>
                </div>
            </form>
        </div>

        <div>
            {% if not 'id' in request.session %}
            <a class="btn header_nav_btn border" href="/login"><img class="icon_image" src="{% static 'img\login_person.png' %}" alt="persion_icon">Login</a>
            {% else %}
            <a class="btn header_nav_btn border" href="/logout"><img class="icon_image" src="{% static 'img\login_person.png' %}" alt="persion_icon">Logout</a>
            {% endif %}            
            <a class="ml-3 p-1 header_nav_btn" data-toggle="modal" data-target="#lab-slide-bottom-popup" href="#"><img src="{% static 'img\cart_icon.png' %}" alt="cart_icon"></a>
        </div>

<!-- cart Body -->
<div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
    <div class="lab-modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1>Your Cart</h1>
        <ol>
            {% for order in all_user_orders %}
                {% for product in order.product.all %}
                    <li>{{ product.name }}</li>
                {%  endfor %}
            {%  endfor %}
        </ol>
        <div class="text-center">
            <a href="/checkout" class="btn-primary btn-plain btn btn-lg popup-button">Checkout!</a>
        </div>
    </div>
    <!-- /.modal-body -->
</div>
<!-- cart Body -->

        <div>
            {% if current_user %}
            <h4>Wellcome</h4>
            <h5>{{current_user.first_name}} {{current_user.last_name}}</h5>
            {% endif %}
        </div>


        <div>
            <ul class="menu">
                <li><a class="menuItem" href="#">My Cart</a></li>
                <li><a class="menuItem" href="/">Home</a></li>
                <li><a class="menuItem" href="/products">Products</a></li>
                <li><a class="menuItem" href="/aboutus">About us</a></li>
                <li><a class="menuItem" href="/contactus">Contact Us</a></li>
            </ul>
            <button class="hamburger header_nav_btn">
                <img class="icon_image" src="{% static 'img\menu_black.png' %}" alt="menu_icon">
                <!-- <i class="menuIcon material-icons">menu</i>
                <i class="closeIcon material-icons">close</i> -->
            </button>
        </div>
    </header>


    <main class="w-75 mx-auto">

        <section class="d-flex justify-content-around align-items-center">
            <div>
                <h1>{{product_to_view.name}}</h1>
                <h3>{{product_to_view.model}}</h3>
                <a class="btn btn-lg btn-secondary" href="/order_product/{{product_to_view.id}}">Order</a>
            </div>
            <div>
                <img id="product_image_view" src="{{product_to_view.image}}" alt="cam1" style="width: 400px;">
            </div>
        </section>

        <h1>Description</h1>
        <article class="d-flex">
            <div class="w-50">
                <p>{{ product_to_view.description }}</p>
            </div>
            <div class="w-25">
                <ul>
                    <li><a href="#">Manual</a></li>
                    <li><a href="{{product_to_view.datasheet}}">Datasheet</a></li>
                    <li><a href="#">Cataloge</a></li>
                </ul>
            </div>
            <div class="w-25">
                <h3>Specifications</h3>
                <ul>
                    <li>hight: {{ product_to_view.specification.height }}cm</li>
                    <li>width: {{ product_to_view.specification.width }}cm</li>
                    <li>Input_voltage: {{ product_to_view.specification.voltage }}v</li>
                    <li>Indoor/outdoor: {{ product_to_view.specification.indoor_outdoor }}</li>
                </ul>
            </div>
        </article>

    </main>


    <footer class="d-flex justify-content-around p-3">
        <div class="w-25">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut odio, ducimus iure non sapiente at reiciendis fugit quisquam exercitationem, fuga beatae autem nihil quidem corporis labore. Distinctio velit maiores voluptatum.</p>
        </div>

        <div class="w-25">
            <h3>Site Map</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="w-25">
            <h3>Contact Us</h3>
            <h6>info@progress.ps</h6>
            <h6>+972 59-786-9686</h6>
            <h6>FB.com/progresspalestine</h6>
            <h6>Ramallah / Palestine</h6>
        </div>
            
        <div class="w-25">
            <img id="logo_img_footer" src="{% static 'img\logo_transparent_black_background.png' %}" alt="logo_transparent_dark_background">
        </div>
        
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>