.login-main {
    width: 900px;
}
.form-height {
    height: 400px;
}
.main-aboutus {
    width: 700px;
}
.h4-color {
    color: rgb(65, 66, 66);
}
.main-contactus {
    width: 750px;
}
.image-icone {
    width:28px;
    height:28px;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.main-create {
    width: 750px;
}
.form-font {
    font-family:'Times New Roman';
}


/* carttt */
.modal.fade.in .lab-modal-body {
    bottom: 0;
    opacity: 1;
    
}

.lab-modal-body h1 {
    font-size: 4rem;
}

.lab-modal-body p {
    margin: 0 0 1.62rem 0;
    line-height: 1.62;
    font-weight: 300;
    font-size: 1.62rem;
    color: #666;
}

.lab-modal-body {
    position: relative;
    bottom: -250px;
    margin: 150px auto 0;
    padding: 40px;
    max-width: 60%;
    height: auto;
    background-color: rgb(248, 250, 247);
    border: 1px solid #BEBEBE;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.close {
    margin-top: -20px;
    margin-right: -20px;
    text-shadow: 0 1px 0 #ffffff;
}

.popup-button {
    margin-top: 70px;
}



/*  CSS login an styling */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}


.p-text {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.btn-login {
	border-radius: 20px;
	border: 1px solid #d6d6d6;
	background-color: #077c17;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn-login:active {
	transform: scale(0.95);
}

.btn-login:focus {
	outline: none;
}

button.ghost {
	background-color: #2706bd;
	/*border-color: #FFFFFF;*/
}

.form-login {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.h1-text {
    font-weight: bolder;
}

.input-text {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 12px 0;
	width: 100%;
    font-size: 20px;
}

.section {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1200px;
	max-width: 100%;
	min-height: 600px;
    margin: 5% auto;
    font-family: 'Lucida Grande';
}

.form-section {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-section {
	left: 0;
	width: 50%;
	z-index: 2;
}

.section.right-panel-active .sign-in-section {
	transform: translateX(100%);
}

.sign-up-section {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.section.right-panel-active .sign-up-section {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-section {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.section.right-panel-active .overlay-section{
	transform: translateX(-100%);
}

.overlay {
    background: url('https://iprospectcheck.com/wp-content/uploads/2023/08/cybersecurity-background-check.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #2706bd;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.section.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.section.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.section.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-section {
	margin: 20px 0;
}

.social-section a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/**********************************************************/
/*************contactus***********************************/


/* main Services section */

#service_image{
	border-radius: 15% 15%;
}
